body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: larger;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

header {
    background-color: rebeccapurple;
    color: white;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 2em;
}

a {
    color: black;
}

a:hover {
    color: white;
    text-decoration: underline;
}

main {
    width: 65vw;
}

table {
    width: 100%;
    place-self: center;
    margin: auto;
    border-collapse: collapse;
}

code {
    background-color: rebeccapurple;
    color: white;
    padding: 0.5em;
    border-radius: 1em;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

ul {
    padding-left: 20px;
}

li {
    margin-top: 10px;
}

button {
    background-color: rebeccapurple;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
}


.note {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 5px solid rebeccapurple;
}